mat-card{
    margin: 20px;
}
.action-btns {
    position: absolute;
    right: 10px;
    top: 0px;
    text-decoration: none;
}
.add-car-btn{
    position: absolute;
    right: 10px;
}
.car-registration{
    color: gray;
    font-size: smaller;
}