<mat-card>
    <mat-card-header>
        <mat-card-title>Cars</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <ng-container *ngFor="let car of cars$ | async; last as isLast">
                <mat-list-item>
                    {{ car.brand }} {{ car.model }} - {{car.registration}}
                    <span class="action-btns">
                        <button mat-icon-button color="accent" class="edit-btn"><mat-icon>edit</mat-icon></button>
                        <a [routerLink]="[car.id]" mat-icon-button color="primary" class="details-btn"><mat-icon>details</mat-icon></a>
                    </span>
                </mat-list-item>
                <mat-divider *ngIf="!isLast"></mat-divider>
            </ng-container>
        </mat-list>
    </mat-card-content>
</mat-card>
<a mat-fab class="add-car-btn" color="accent" extended [routerLink]="['new']">
    <mat-icon>add</mat-icon>
    New car
</a>